@import "var";
@import "mixin/mixins";
@import "layout/buttons";
@import "layout/header";
@import "layout/navigation";
@import "layout/content";

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

body {
  background:@c-white
}


body > .site {
  margin-top:75px;
}
