/*==================================*/
/* COLORS
/*==================================*/

@c-dev          : deeppink;
@c-white        : #fff;
@c-black        : #000;
@c-lightgrey    : #ccc;
@c-grey         : #666;
@c-orange       : #BD5B38;

/*==================================*/
/* THEME FONTS
/*==================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* {
  font-family: 'Open Sans', sans-serif;
}